<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Arbaz_Task/backend/

    # Redirect all requests to index.php if the resource does not exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
